@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import "./reset.css";
@import "./utilities.css";
@import "./base.css";

/* variables */
:root {
  --primary: #aa0601;
  --secondary: #650300;
  --bg-light: #fbf2f2;
}
/* layout */
.header {
  padding-top: 13px;
  padding-bottom: 13px;
}
.logo {
  width: 80px;
}
.header-nav-list {
  li {
    text-align: center;
    a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
@media screen and (max-width: 720px) {
  .header-nav-list {
    a {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 576px) {
  .container-sm-full {
    max-width: 1320px;
    padding: 0;
  }
  .header-nav {
    flex-direction: column;
    align-items: flex-start;
    h1 {
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 14px;
    }
  }
  .header-nav-list {
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
    li {
      width: 50%;
      font-size: 16px;
      border: 1px solid #ffffff;
      a {
        padding: 12px 0;
      }
    }
  }
}
.footer {
  padding-top: 48px;
  padding-bottom: 32px;
}
.footer-header {
  padding-bottom: 32px;
}
.footer-nav-list {
  margin-bottom: 24px;
  a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.social-list {
  li {
    width: 48px;
    height: 48px;
  }
}
.contact-link {
  li:nth-child(1) {
    margin-bottom: 8px;
  }
  a {
    font-size: 36px;
  }
  .material-symbols-outlined {
    font-size: 36px;
    vertical-align: middle;
    margin-right: 20px;
  }
}
.copyright {
  padding-top: 32px;
  border-top: 1px solid #fff;
}
@media screen and (max-width: 992px) {
  .social-list {
    gap: 16px;
    li {
      width: 40px;
      height: 40px;
    }
  }
}
@media screen and (max-width: 768px) {
  .footer-nav-list {
    gap: 24px;
  }
}
@media screen and (max-width: 720px) {
  /* 讓部分內容不換行 */
  .footer-nav-list {
    a {
      font-size: 14px;
    }
  }
  .contact-link {
    a {
      font-size: 24px;
    }
  }
  .copyright-list {
    a {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 576px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .footer-nav-list {
    display: none;
  }
  .contact-link {
    a {
      font-size: 16px;
    }
    span {
      font-size: 24px;
      margin-right: 8px;
    }
  }
  .social-list {
    gap: 8px;
    li {
      width: 24px;
      height: 24px;
    }
  }
  .copyright {
    padding-top: 16px;
    flex-direction: column;
    gap: 8px;
  }
  .copyright-list {
    font-size: 16px;
    flex-direction: column;
    gap: 8px;
  }
}

/* component */

/* pages */
.bg-banner {
  background-image: url(./images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 787px;
}
.banner-content {
  width: 44.5%;
}
.banner-btn {
  width: 104px;
  padding: 6px 12px;
}
@media screen and (max-width: 992px) {
  .banner-content {
    width: 100%;
  }
  .bg-banner {
    background-image: url(./images/home-header-sm.png);
  }
}
@media screen and (max-width: 576px) {
  .banner-content {
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 24px;
    }
  }
  .bg-banner {
    height: 396px;
  }
}
.feature-img {
  width: 100px;
}
@media screen and (max-width: 992px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-6:not(:nth-last-child(-n + 2)) {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 576px) {
  .features {
    h4 {
      font-size: 24px;
    }
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-12:not(:nth-last-child(-n + 1)) {
    margin-bottom: 24px;
  }
}
.classic-img {
  width: 100%;
  height: 416px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: calc(100% - 80px); */
}
@media screen and (max-width: 992px) {
  .classic {
    ul {
      flex-direction: column;
      align-items: center;
      li {
        width: 43.75%;
      }
    }
  }
  .classic-img {
    height: 336px;
  }
}
@media screen and (max-width: 576px) {
  .classic {
    h2 {
      font-size: 24px;
    }
    ul li {
      width: 100%;
    }
  }
  .classic-img {
    height: 348px;
  }
}
.bg-feat {
  background-image: url(./images/index-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.feat {
  ul {
    width: 100%;
  }
}
.feat-category:nth-child(1) {
  .feat-img {
    background-image: url(./images/home-section4-1.png);
  }
}
.feat-category:nth-child(2) {
  .feat-img {
    background-image: url(./images/home-section4-2.png);
  }
}
.feat-category {
  width: 50%;
  h3 {
    background-color: #fff;
  }
}
.feat-img {
  width: 100%;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 992px) {
  .bg-feat {
    background-image: url(./images/index-bg-sm.png);
  }
  .feat {
    ul {
      flex-wrap: wrap;
      gap: 24px;
    }
  }
  .feat-category {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .bg-feat {
    background-image: url(./images/index-bg-md.png);
  }
  .feat {
    h2 {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  .feat-category:nth-child(1) {
    .feat-img {
      background-image: url(./images/home-section4-1-sm.png);
    }
  }
  .feat-category:nth-child(2) {
    .feat-img {
      background-image: url(./images/home-section4-2-sm.png);
    }
  }
}
.recommend-card {
  height: 511px;
  border: 1px solid #dee2e6;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px;
}
.recommend-card-img {
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.recommend-text {
  height: 40%;
  padding: 16px;
  span {
    color: #707070;
  }
}
@media screen and (max-width: 992px) {
  .recommendation {
    ul {
      flex-wrap: wrap;
    }
  }
  .recommend-card {
    width: calc(50% - 12px);
  }
}
@media screen and (max-width: 576px) {
  .recommendation {
    h4 {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  .recommend-card {
    width: 100%;
  }
}
.contact-content {
  max-width: 636px;
}
@media screen and (max-width: 992px) {
  .contact-content {
    max-width: 576px;
  }
}
.contact-list li:not(:nth-last-child(-n + 1)) {
  margin-bottom: 16px;
}
.contact-form-label {
  display: block;
  margin-bottom: 8px;
}
.contact-form-input {
  display: block;
  width: 100%;
  background: var(--bg-light);
  outline: 0;
  border: solid 1px black;
  padding: 6px 12px;
  font-size: 16px;
}
.contact-form-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.contact-list textarea {
  resize: none;
}
.agree-item {
  input {
    width: 20px;
    height: 20px;
    margin: 2px 4px 0px 4px;
    appearance: none;
    border: 1px solid #000;
    border-radius: 2px;
    flex-shrink: 0;
  }
  /* background-color: var(--bg-light); */ /* 為了增加底色但沒作用 */
}

/* GPT大神提供 */
input[type="checkbox"]:checked {
  background-color: #000; /* 选中时的底色 */
  border-color: #000; /* 选中时的边框色 */
  position: relative;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* -------- */

.contact-form-button {
  display: block;
  max-width: 416px;
  padding: 16px 0px;
  border: none;
  cursor: pointer;
}
.contact-form-button:hover {
  opacity: 0.7;
  transition: 0.3s;
}
@media screen and (max-width: 992px) {
  .contact-form-button {
    max-width: 336px;
  }
}
@media screen and (max-width: 576px) {
  .contact-content h4 {
    font-size: 24px;
  }
  .contact-content p {
    font-size: 16px;
  }
  .agree-item {
    margin-bottom: 24px;
  }
}
